body{
    background-image: url(cover.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    height: auto;
    /* box-sizing: content-box; */
    font-size: 2vw;
    width: auto;
}
.card {
  border: 2px solid gray;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
* {
  box-sizing: border-box;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: auto;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 60%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
a:hover {
  color: green;
}
footer {
  border: 4px solid gray;
  font-style: italic;
  margin: 4px;
  padding: 5px;
  color: brown;
  background-color: black;
}
.fa {
  padding: 10px;
  font-size: 20px;
  width: auto;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  flex: 1 2 20px;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.fa-google {
  background: #dd4b39;
  color: white;
}
.h2 {
  text-decoration: turquoise;
  padding: 5px;
  margin: auto;
  text-transform: uppercase;
}
.cards {
  width: auto;
  height: auto;
  margin: auto;
}

.price {
  color: grey;
  font-size: 14px;
}
.cards button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: auto;
  height: auto;
}

.cards button:hover {
  opacity: 0.7;
}


.card {
  padding: 30px;
  flex: 1 2 20px;
  margin: 20px;
  max-height: 700px;
  max-width: 700px;
}

.responsive {
  max-width: 100%;
  height: auto;
}
.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: auto;
}
nav {
   text-align: right;
}
